<a href="https://colab.research.google.com/github/Nabilah-Joarder/Testing/blob/master/apprentice_copy_python_101_p1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 101 Part 1
Python is a programming langauge. A programming language allows us to communicate instructions to a computer and tell it what we want it to do.

We can use this to do all sorts of things such as building applications, web-scraping and data analysis. We're going to go through some of the essentials of Python so that you can hit the ground running on your Python journey.

## Assigning variables and using a function
A variable is essentially a named piece of data in Python that you will be able to use in the future by typing in the name again. They are an essential part of a programmers toolbox!

You simply give the name of the variable followed by an = and then the value you want to assign to it!

You can see in our output (the part below the code) there is a 5. The print function has taken the value stored as x and returned it in our output.

In [ ]:
x = 5

We now have a variable called x containing the value 5! This can be used in all sorts of ways and we're going to use it to introduce our first function, print! A function is a chunk of code someone else has written so that we don't have to. There are a vast number of functions available in Python by default, and even more that you can add to python using libraries.

Print returns what you put inside it to your output (have a look below!):

In [ ]:
print(x)

5

## Basic Data Types
There are several basic data types we can use in Python. Let's explore them while assigning them to variables:

In [ ]:
a = 10 # Integer - int

b = True # Boolean - bool

c = "Hello world" # String - str

d = 10.999999 # Float - float

We now have 4 different variables containing 4 different basic data types. Integers are whole numbers; booleans are True or False values; strings are character data; and Floats are numbers with decimal places!

You can check the type of a variable using the type() function:

In [ ]:
type(a), type(b), type(c), type(d)

(int, bool, str, float)

### Wrong type? Change it!
Sometimes we need to have our data as a certain type in order to use it properly. For example, here are 2 numbers but in the string data type:

In [ ]:
num1 = "10"
num2= "15"

We would expect adding these together to make the number 25, however when you add string together in python they concatenate instead:

In [ ]:
print(num1 + num2)

1015

To get the answer we're looking for we need to convert the type to an integer, easily done using their shorthand type name. In this case we use `int()` to convert it to an integer:

In [ ]:
print(int(num1) + int(num2))

25

### Variables and basic maths
As you might expect, maths still works on integers and floats! Here are some common uses:

In [ ]:
var1 = 3 # assign the value 3 to var1
var2 = 5 # assign the value 5 to var2

# addition:
print(var1 + var2) # 3 + 5

# subtraction:
print(var2 - var1) # 5 - 3

# division:
print(var2/var1) # 5/3

# multiplication:
print(var1*var2) # 3*5

# floor division:
print(var2//var1) # 5//3 returns the largest possible integer 
# but will never go higher than the value from normal division

# to the power of (exponentiation):
print(var1**2) # 3**2

# modulus (finding the remainder):
print(var2%var1) # 5%3

8
2
1.6666666666666667
15
1
9
2

#### Finding odd/even using modulo
You can use the remainder to discover if something is an odd or even number by finding the remainder after dividing by 2:

In [ ]:
even = 12
odd = 7

print("when a value is odd modulo 2 returns:")
print(odd%2)
print("when a value is even, modulo 2 returns:")
print(even%2)

when a value is odd modulo 2 returns:
1
when a value is even, modulo 2 returns:
0

## Complex Data Types

### Introducing lists
We can also include something called a list inside a variable, allowing us to store more than one peice of information in the same variable. You do this using square brackets around each piece of information, separeated by a comma:

In [ ]:
my_fruits = ["apple", "goji berry", "boabab fruit"]
print(my_fruits)

['apple', 'goji berry', 'boabab fruit']

When we printed the list we got the entire list back. You can return specific items from within a list by using something called their index position.

In python, each item in a list has a position. The first item is in position 0, and further items are in position 1, 2, 3 etc going up one each time. To return the item at a given position you add square brackets after the list:

In [ ]:
print(my_fruits[1])

goji berry

Goji berry is our 2nd item in the list, however it is found at position 1 because we start at 0!

Lists can also hold different data types (such as integer and string):

In [ ]:
my_nums = ["three", 1, "two"]
print(my_nums[0])
print(my_nums[1])

three
1

or even other lists:

In [ ]:
listception = [["apple", "goji berry", "boabab fruit"], ["three", 1, "two"]]
print(listception[0])
print(listception[0][2]) # Two sets of square brackets to get the 1st list and then get the 3rd item inside that list

['apple', 'goji berry', 'boabab fruit']
boabab fruit

#### Useful list methods

Here are some of the methods we can use with a list. Methods are called by naming the list followed by a full stop and then the name of the method:

In [ ]:
my_fruits.append("lemon")  # adds an item to the end of the list
print(my_fruits)

['apple', 'goji berry', 'boabab fruit', 'lemon']

In [ ]:
my_fruits.pop(3)  # removes an item at a given index position
print(my_fruits)

['apple', 'goji berry', 'boabab fruit']

In [ ]:
my_fruits.reverse()  # reverses the list
print(my_fruits)

['boabab fruit', 'goji berry', 'apple']

In [ ]:
my_fruits.sort() # sorts the list
print(my_fruits)

['apple', 'boabab fruit', 'goji berry']

### Tuples
Tuples are similar to a list, however they are what is known as immutable. This means that once you create a tuple, you can't change it. This means you can't add or remove items from a tuple.

In [ ]:
fruits_tuple = ("apple", "goji berry", "boabab fruit")

print(fruits_tuple)

('apple', 'goji berry', 'boabab fruit')

You can still return specific elements from a tuple using their index positions:

In [ ]:
fruits_tuple[1]

'goji berry'

But try to change them and you'll be met with an error:

In [ ]:
fruits_tuple[1] = "orange"

TypeError: ignored

### Sets
Sets are also similar to lists; they are mutable (meaning they can be added to/changed) however they are unordered - That means they can't be referred to by index position:

In [ ]:
names = {"Name 1", "Another Name", "Too many names"}
print(names)

{'Another Name', 'Too many names', 'Name 1'}

Adding an item to a set is done using the `.add()` method:

In [ ]:
names.add('name 2')
print(names)

{'name 2', 'Another Name', 'Too many names', 'Name 1'}

Can you add ther same item more than once?

In [ ]:
names.add('name 2')
print(names)

{'name 2', 'Another Name', 'Too many names', 'Name 1'}

No, you can't. A set can only contain unique items, any duplicated values are removed. 

We mentioned sets being unordered, lets see what happens if we try to return name 2 using an index position:

In [ ]:
names[0]

TypeError: ignored

We get an error because sets don't have an index position. If you need to be able to refer to each item using index positions, use a list instead.

#### other useful set methods:

Remove an item from the set:

In [ ]:
names.remove('name 2')
print(names)

{'Another Name', 'Too many names', 'Name 1'}

Clear (empty) the set:

In [ ]:
names.clear()
print(names)

set()

### Dictionaries
Dictionaries are similar to sets but have one important difference. They are still unordered (no index positions) but they have a 'label' that can be used to return specific information.

See an example of a dictionary below:

In [ ]:
coach_to_course = {"Andrei": "DF4",
           "Eduardo": "DF4",
           "Jamie": "PLP",
           "Sharon": "PM",
           "Jasmine": "DM",
           "Rachel": "DF4",
           "Ross": "DF4"}

We still use curly brackets like we did with sets, however now we give a key e.g. `Andrei` and a value e.g. `DF4`. When we want to retrieve information from a dictionary we reference the key inside square brackets:

In [ ]:
coach_to_course['Andrei']

'DF4'

Dictionaries are very useful for holding a lot of complex information, for example you can mimic a table using lists in the values:

In [ ]:
my_data = {'cost': [100, 200, 300],
           'gross': [175, 225, 450],
           'net_profit': [75, 25, 150]}

Often lists are used inside dictionaries. When we do this we can get a specific value back by following the key reference with another set of square brackets for the index position in the list:

In [ ]:
my_data['cost'][0]

100

Adding items to a dictionary is easy, simply reference a key that doesn't exist yet and assign it a value (in this case another list):

In [ ]:
my_data['in_stock'] = [True, True, False]
print(my_data)

{'cost': [100, 200, 300], 'gross': [175, 225, 450], 'net_profit': [75, 25, 150], 'in_stock': [True, True, False]}

To remove an item we use a method called `.pop()`:

In [ ]:
my_data.pop('in_stock') # removes an item from the dictionary and returns it

[True, True, False]

In [ ]:
print(my_data)

{'cost': [100, 200, 300], 'gross': [175, 225, 450], 'net_profit': [75, 25, 150]}

Dictionaries within dictionaries can allow a slightly different approach to storing your information (although you have to put up with writing a lot of syntax!):

In [ ]:
contacts = {'Frodo': {'contact': 'wax sealed envelope',
                      'address': 'Bag End, Hobbiton, The Shire'},
            'Harry': {'contact': 'Hedwig',
                      'address': '4 Privet Drive, Surrey'},
            'Aslan': {'contact': 'hope?',
                      'address': 'Narnia'}}

In [ ]:
contacts['Harry']['address']

'4 Privet Drive, Surrey'

## Excercises
Feel free to start from the beggining and work through them all, or pick a place to start. None of the questions will  rely on previous questions being answered to work!

### Beginner
Q1: Create a variable called `x` and assign it the value `101`:

Q2: create 2 variables, `x` and `y`, and give them the values `4` and `5`. Use mathematical operators to multiply `4` by `5`, returning the output using the print function:

Q3: Create a list called `colours` containing the values: `orange`, `purple`, `green`

Q4: append the colour `magenta` to the list

Q5: Create a tuple called `parts` containing `bolt`, `screw`, `washer`

Q6: Create a set called `names` containing `Arthur`, `Molly`, `Fred`

Q7: Add `George` to the set

Q8: Create a dictionary called `fruit` with the keys: `orange`, `bannana`, `strawberry` and the values: `citrus`, `berry`, `nut` respectively

### Intermediate
Q1: Create a list called `fraud_watch` containing two lists, one containing `is_fraud`, `is_risk`, `is_actioned` and the other: `True`, `False`, `False`

Q2: Return the 1st value from the 2nd list using index positions:

Q3: Create a dictionary called `supporters` with they keys: `name` and `donation` and the values `Harold`, `Janice` as a list for names and `10`, `30` as a list for donation

Q4: Return the name `Janice` to the output

### Advanced
Q1: Create a dictionary called `shopping` with the following structure:

`Orange : {amount : 4, cost : 0.75}`<br>
`Oat Milk : {amount : 2, cost : 3.50}`

Q2: Create a dictionary that represents this dataset:

![image.png]()

Q3: What will be returned by the above code? Put you answer next to `#A: ` before running the code.

In [ ]:
overlisted = ['101', [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [12, 45, 23, 47, 57, 68], ['potato', 'kangaroo' , [[4, 5, 6], [1, 2, 3]]]]]

overlisted[1][2][2][1][0]

#A:

Q4: Do something we haven't taught you. A key part of learning Python is acknowledging that nobody is going to show you absolutely everything you'll want to do. Python is at it's best when you can start to figure out what to do yourself using google!

Given a word, in this case `aardvark`, return `True` if it is found in the list and `False` if it is not:

In [ ]:
# Starter code - DO NOT CHANGE
word = 'aardvark'

animals = ['cow', 'secretary bird', 'komodo dragon']

# Put your code below:

Q5: Sandbox!

Look up methods we haven't covered for lists/tuples/sets/dictionaries and try any that you think are interesting, or try to put one of your work tables into a Python dictionary!

# Answers

In [ ]:
# Beginner
# Q1
x = 101



# Q2
x = 4
y = 5
print(x * y)



# Q3
colours = ['orange', 'purple', 'green']



# Q4
colours.append('magenta')



# Q5
parts = ('bolt', 'screw', 'washer')



# Q6
names = {'Arthur', 'Molly',  'Fred'}



# Q7
names.add('George')



# Q8
fruit = {'orange': 'citrus',
         'bannana': 'berry',
         'strawberry': 'nut'}



# Intermediate
# Q1
fraud_watch = [['is_fraud', 'is_risk', 'is_actioned'], [True, False, False]]



# Q2
fraud_watch[1][0]



# Q3
supporters = {'name': ['Harold', 'Janice'],
              'donation': [10, 30]}



# Q4
supporters['name'][1]



# Advanced
# Q1
shopping = {'Orange' : {'amount' : 4, 'cost' : 0.75},
            'Oat Milk' : {'amount' : 2, 'cost' : 3.50}}



# Q2
data = {'item': ['hat', 'scarf', 'jeans', 'skirt'],
        'quantity': [34, 5, 56, 28],
        'cost_per_item': [5, 10, 25, 20]}



# Q3:
# The answer is 1



#Q4:
word = 'aardvark'
animals = ['cow', 'secretary bird', 'komodo dragon']
print(word in animals)